# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/
backend/node_modules/

# Build
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Cache
.cache/
tmp/
temp/

# Database
*.db
*.sqlite
*.sqlite3
pb_data/
pb_migrations/


# Misc
*.env
!.env.example
